/*
 * Styles for demo page at Github Pages
 */


/* config */
$max-width: 960px;

/* breakpoints use: @include breakpoint(xs); */ 
$breakpoint-small: 767px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;

/* colors */
$color-background: #f5f5f5;
$color-primary: #3498db;
$color-secondairy: #2c3e50;
$color-text-primary: #f1f1f1;
$color-text-secondairy: #222;

/* import dependencies */
@import "helpers/normalize";
@import "helpers/boilerplate";
@import "helpers/breakpoints";

/* extends */
%wrapper {
    padding: 0 2em;
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
}

/* demo page styling */
body {
    background: $color-background;
    color: $color-text-secondairy;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-secondairy;
    margin-bottom: 0.25em;

    & + p {
        margin-top: 0;
    }
}

a {
    color: $color-primary;
}

code {
    display: inline-block;
    margin-top: 0.5em;
}

code, pre {
    background: white;
    border-radius: 0.3em;
    font-size: 0.8em;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.browserupgrade {
    background: #f1c40f;
    color: #000000;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;

    a {
        color: inherit;
    }
}

.header {
    background: $color-primary;
    padding: 2em 0;

    @include breakpoint(sm) {
        padding: 4em 0;
    }

    &-wrapper {
        @extend %wrapper;
        display: flex;
        justify-content: space-between;

        @include breakpoint(sm) {
            flex-wrap: wrap;
        }
    }

    h1, h2 {
        color: #f1f1f1;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 0.2em;

        @include breakpoint(md) {
            font-size: 3em;
        }
    }

    h2 {
        font-weight: normal;

        @include breakpoint(sm) {
            font-size: 1.3em;
        }
    }

    .header-content {
        padding-right: 4em;

        @include breakpoint(sm) {
            margin-bottom: 2em;
        }
    }

    .header-buttons {

        .header-button {
            background: $color-secondairy;
            border-radius: 0.3em;
            color: white;
            display: block;
            text-decoration: none;
            padding: 1em;
            text-align: center;
            width: 10em;
        }

        .header-button:first-child {
            margin-bottom: 2em;
        }
    }
}

.main {
    @extend %wrapper;
    padding-top: 1em;

    .intro {
        font-size: 1.2em;

        @include breakpoint(lg) {
            max-width: 80%;
        }
    }
}

.footer {
    background: $color-secondairy;
    color: $color-text-primary;
    padding: 2em 0;

    &-wrapper {
        @extend %wrapper;
    }

    a {
        color: $color-text-primary;
    }
}
